// GENERAL SETTINGS ----------------------------------------------------------------------------------------------------
a {
  padding: 1em;
}
article > h1, .sidebar > div > h2 {
  text-transform: uppercase;
  color: #555;
}

// HEADER SETTINGS -----------------------------------------------------------------------------------------------------
%header {
  position: relative;
  z-index: 1;
  background: #ddd;
  box-shadow: 0 0 10px #3e3e3e;
}

// MENU SETTINGS -------------------------------------------------------------------------------------------------------
%menu {
  > li > a {
    line-height: 2.5rem;
  }
}
%menu-item {
  text-transform: uppercase;
  line-height: 2.5rem;

  //&:first-child {
  //  > a, span {
  //    padding-left: 3.5rem;
  //  }
  //}
}
%menu-item-hover, %menu-item-active {
background: #e6b138;
color: white;
}

// BREADCRUMBS SETTINGS ------------------------------------------------------------------------------------------------
  %breadcrumbsBackground {
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #bbb;
      transform: skewx(-30deg);
    }
  }
%breadcrumbs {}
%breadcrumbs-item {
  @extend %breadcrumbsBackground;
  color: #555;
  position: relative;
  //z-index: 0;
  margin-bottom: .1em;
}
%breadcrumbs-item-hover {
  color: #444;
  text-decoration: underline;
}
%breadcrumbs-item-active {
  @extend %breadcrumbsBackground;
  &:before {
    background: #6d6d6d;
    box-shadow: inset 0 0 .5rem #3e3e3e;
  }
color: #ccc;
  line-height: 1.2;
  padding: 1rem;
}

// CONTENT SETTINGS ----------------------------------------------------------------------------------------------------
%content {
  background: #ddd;

  p {
    background: white;
  }
}

// SIDEBAR SETTINGS ----------------------------------------------------------------------------------------------------
%sidebar {
  background: #cecca9;
}

// FOOTER SETTINGS -----------------------------------------------------------------------------------------------------
%footer {
  color: silver;
}
