html {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  box-sizing: border-box;
  overflow-y: scroll; }

*, :before, :after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, hr, p, figure {
  margin: 0; }

a, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  line-height: 1;
  color: inherit; }

h1, h2, h3, h4, h5, h6, input {
  margin-bottom: .5rem;
  padding: .5rem; }

aside {
  width: 100%; }

article, aside {
  padding: 1rem; }

p {
  padding: .5rem; }

h1 {
  font-size: 2em; }

menu, ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  display: block;
  text-decoration: none; }

input, select, textarea {
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit; }

hr {
  border-style: solid; }

svg {
  width: 100%;
  height: 100%; }

input[type='submit'], select {
  cursor: pointer; }

.clearfix:after, .r:after, .container:after, .menu.-hor:after, .breadcrumbs:after {
  content: '';
  display: table;
  clear: both; }

menu, .menu, .breadcrumbs {
  float: left; }
  menu > li, .menu > li, .breadcrumbs > li {
    float: left; }

a {
  padding: 1em; }

article > h1, .sidebar > div > h2 {
  text-transform: uppercase;
  color: #555; }

header, .header {
  position: relative;
  z-index: 1;
  background: #ddd;
  box-shadow: 0 0 10px #3e3e3e; }

main, .content {
  background: #ddd; }
  main p, .content p {
    background: white; }

aside, .sidebar {
  background: #cecca9; }

footer, .footer {
  color: silver; }

.c-t-12 {
  width: 100%; }

.c-t-11 {
  width: 91.66667%; }

.os-t-11 {
  margin-left: 91.66667%; }

.c-t-10 {
  width: 83.33333%; }

.os-t-10 {
  margin-left: 83.33333%; }

.c-t-9 {
  width: 75%; }

.os-t-9 {
  margin-left: 75%; }

.c-t-8 {
  width: 66.66667%; }

.os-t-8 {
  margin-left: 66.66667%; }

.c-t-7 {
  width: 58.33333%; }

.os-t-7 {
  margin-left: 58.33333%; }

.c-t-6 {
  width: 50%; }

.os-t-6 {
  margin-left: 50%; }

.c-t-5 {
  width: 41.66667%; }

.os-t-5 {
  margin-left: 41.66667%; }

.c-t-4 {
  width: 33.33333%; }

.os-t-4 {
  margin-left: 33.33333%; }

.c-t-3 {
  width: 25%; }

.os-t-3 {
  margin-left: 25%; }

.c-t-2 {
  width: 16.66667%; }

.os-t-2 {
  margin-left: 16.66667%; }

.c-t-1 {
  width: 8.33333%; }

.os-t-1 {
  margin-left: 8.33333%; }

@media (min-width: 34em) {
  .container {
    max-width: 36em; }

  .c-s-12 {
    width: 100%; }

  .os-s-11 {
    margin-left: 91.66667%; }

  .c-s-11 {
    width: 91.66667%; }

  .os-s-10 {
    margin-left: 83.33333%; }

  .c-s-10 {
    width: 83.33333%; }

  .os-s-9 {
    margin-left: 75%; }

  .c-s-9 {
    width: 75%; }

  .os-s-8 {
    margin-left: 66.66667%; }

  .c-s-8 {
    width: 66.66667%; }

  .os-s-7 {
    margin-left: 58.33333%; }

  .c-s-7 {
    width: 58.33333%; }

  .os-s-6 {
    margin-left: 50%; }

  .c-s-6 {
    width: 50%; }

  .os-s-5 {
    margin-left: 41.66667%; }

  .c-s-5 {
    width: 41.66667%; }

  .os-s-4 {
    margin-left: 33.33333%; }

  .c-s-4 {
    width: 33.33333%; }

  .os-s-3 {
    margin-left: 25%; }

  .c-s-3 {
    width: 25%; }

  .os-s-2 {
    margin-left: 16.66667%; }

  .c-s-2 {
    width: 16.66667%; }

  .os-s-1 {
    margin-left: 8.33333%; }

  .c-s-1 {
    width: 8.33333%; }

  .os-s-0 {
    margin-left: 0%; } }
@media (min-width: 48em) {
  .container {
    max-width: 45em; }

  .c-m-12 {
    width: 100%; }

  .os-m-11 {
    margin-left: 91.66667%; }

  .c-m-11 {
    width: 91.66667%; }

  .os-m-10 {
    margin-left: 83.33333%; }

  .c-m-10 {
    width: 83.33333%; }

  .os-m-9 {
    margin-left: 75%; }

  .c-m-9 {
    width: 75%; }

  .os-m-8 {
    margin-left: 66.66667%; }

  .c-m-8 {
    width: 66.66667%; }

  .os-m-7 {
    margin-left: 58.33333%; }

  .c-m-7 {
    width: 58.33333%; }

  .os-m-6 {
    margin-left: 50%; }

  .c-m-6 {
    width: 50%; }

  .os-m-5 {
    margin-left: 41.66667%; }

  .c-m-5 {
    width: 41.66667%; }

  .os-m-4 {
    margin-left: 33.33333%; }

  .c-m-4 {
    width: 33.33333%; }

  .os-m-3 {
    margin-left: 25%; }

  .c-m-3 {
    width: 25%; }

  .os-m-2 {
    margin-left: 16.66667%; }

  .c-m-2 {
    width: 16.66667%; }

  .os-m-1 {
    margin-left: 8.33333%; }

  .c-m-1 {
    width: 8.33333%; }

  .os-m-0 {
    margin-left: 0%; } }
@media (min-width: 62em) {
  .container {
    max-width: 58.75em; }

  .c-l-12 {
    width: 100%; }

  .os-l-11 {
    margin-left: 91.66667%; }

  .c-l-11 {
    width: 91.66667%; }

  .os-l-10 {
    margin-left: 83.33333%; }

  .c-l-10 {
    width: 83.33333%; }

  .os-l-9 {
    margin-left: 75%; }

  .c-l-9 {
    width: 75%; }

  .os-l-8 {
    margin-left: 66.66667%; }

  .c-l-8 {
    width: 66.66667%; }

  .os-l-7 {
    margin-left: 58.33333%; }

  .c-l-7 {
    width: 58.33333%; }

  .os-l-6 {
    margin-left: 50%; }

  .c-l-6 {
    width: 50%; }

  .os-l-5 {
    margin-left: 41.66667%; }

  .c-l-5 {
    width: 41.66667%; }

  .os-l-4 {
    margin-left: 33.33333%; }

  .c-l-4 {
    width: 33.33333%; }

  .os-l-3 {
    margin-left: 25%; }

  .c-l-3 {
    width: 25%; }

  .os-l-2 {
    margin-left: 16.66667%; }

  .c-l-2 {
    width: 16.66667%; }

  .os-l-1 {
    margin-left: 8.33333%; }

  .c-l-1 {
    width: 8.33333%; }

  .os-l-0 {
    margin-left: 0%; } }
@media (min-width: 75em) {
  .container {
    max-width: 71.25em; }

  .c-h-12 {
    width: 100%; }

  .os-h-11 {
    margin-left: 91.66667%; }

  .c-h-11 {
    width: 91.66667%; }

  .os-h-10 {
    margin-left: 83.33333%; }

  .c-h-10 {
    width: 83.33333%; }

  .os-h-9 {
    margin-left: 75%; }

  .c-h-9 {
    width: 75%; }

  .os-h-8 {
    margin-left: 66.66667%; }

  .c-h-8 {
    width: 66.66667%; }

  .os-h-7 {
    margin-left: 58.33333%; }

  .c-h-7 {
    width: 58.33333%; }

  .os-h-6 {
    margin-left: 50%; }

  .c-h-6 {
    width: 50%; }

  .os-h-5 {
    margin-left: 41.66667%; }

  .c-h-5 {
    width: 41.66667%; }

  .os-h-4 {
    margin-left: 33.33333%; }

  .c-h-4 {
    width: 33.33333%; }

  .os-h-3 {
    margin-left: 25%; }

  .c-h-3 {
    width: 25%; }

  .os-h-2 {
    margin-left: 16.66667%; }

  .c-h-2 {
    width: 16.66667%; }

  .os-h-1 {
    margin-left: 8.33333%; }

  .c-h-1 {
    width: 8.33333%; }

  .os-h-0 {
    margin-left: 0%; } }
.r {
  margin: 0 -1rem; }

[class*=c-] {
  float: left; }

.container {
  margin: auto;
  padding: 0 1rem; }

main, .content {
  position: relative; }

aside, .sidebar {
  position: absolute;
  right: 0;
  height: 100%; }

/*# sourceMappingURL=main.css.map */
